<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>个人简介</title>
<meta name="description" content="姚铎,个人网站,The personal website of Duo.yao"/>
<meta name="keywords" content="姚铎,Duo.yao,简历,resume"/>
<link rel="stylesheet" href="/css/normalize.css"/>
<link rel="stylesheet" href="/css/font-awesome.css"/>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/templatemo-style.css"/>
<link rel="stylesheet" href="/css/users.css"/>

</head>
<body>
<div class="site-bg"></div>
<div class="site-bg-overlay"></div>

<div class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="phone-info">MAIL ME: <a id="my_mail" href="#">duoyao790@gmail.com</a></p>
			</div>
		</div>
	</div>
</div>

<div class="visible-xs visible-sm responsive-menu">
	<a href="#" class="toggle-menu">
		<i class="fa fa-bars"></i> Show Menu
	</a>
	<div class="show-menu">
		<ul class="main-menu">
			<li>
				<a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>个人主页</a>
			</li>
			<li>
				<a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>基本信息</a>
			</li>
			<li>
				<a class="show-3 projectbutton" href="#"><i class="fa fa-camera"></i>个人相册</a>
			</li>
			<li>
				<a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>给点建议</a>
			</li>
		</ul>
	</div>
</div>

<div class="container" id="page-content">
	<div class="row">
		<div class="col-md-9 col-sm-12 content-holder">
			<div id="menu-container">
				<!-- 2021年考研初试考完之前这里都是考研倒计时牌
				<div class="logo-holder logo-top-margin">
					<a href="#" class="site-brand"><img src="images/logo.png" alt="logo"></a>
				</div>
				-->
				<div id="menu-1" class="homepage home-section text-center">
					<div class="welcome-text">
						<h2>您好，这里是<strong>Duo.yao的个人主页</strong></h2>
						<p>考研倒计时牌</p>
						<form action="#" method="get" class="subscribe-form">
							<div class="row">
								<!-- 2021年考研初试考完之前这里都是考研倒计时牌
								<fieldset class="col-md-offset-2 col-md-6">
									<input name="subscribe-email" type="email" class="email" id="subscribe-email" placeholder="请输入您的电子邮件...">
								</fieldset>
								<fieldset class="col-md-4 button-holder">
									<input name="submit" type="submit" class="button default" id="submit" value="提交">
								</fieldset>
								-->
								<fieldset class="col-md-offset-2 col-md-6">
									<div id="circle"></div>
								</fieldset>
							</div>
							<!--<p class="subscribe-text">请提交您的电子邮件地址以便日后我找到您</p>-->
						</form>
						<div id="clock" class="clock">
							<div class="list-inline">
								<ul>
									<li><span id="day" class="dhms"></span></li>
									<li><span class="d">天</span></li>
									<li><span id="hour" class="dhms"></span></li>
									<li><span class="dhms">:</span></li>
									<li><span id="min" class="dhms"></span></li>
									<li><span class="dhms">:</span></li>
									<li><span id="sec" class="dhms"></span></li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>

				<div id="menu-2" class="content about-section">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<div class="box-content profile">
								<h3 class="widget-title">个人信息</h3>
								<div class="profile-thumb">
									<img src="images/8.jpg" alt="我的帅照">
								</div>
								<div class="profile-content">
									<h5 class="profile-name">姚 铎</h5>
									<span class="profile-role">见习程序员</span>
									<p>就读于<a target="_blank" href="http://www.csu.edu.cn">中南大学</a>，目前为一名大三学生</p>
									<p>网站暂不更新，加油准备2021年考研！</p>
									<p>同时也祝所有2021考研的小伙伴们考研能顺利上岸，冲鸭～</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="box-content">
								<h3 class="widget-title">个人爱好</h3>
								<p><strong>跑步，健身，撸铁</strong>，俗话说身体是革命的本钱，更何况我这种码农...</p>
								<p><strong>看书</strong>，尤其是Dickens的Oliver Twist，百看不厌</p>
								<p><strong>学习</strong>，主要还是学习能力比较强吧，再深奥的知识只要融会贯通就不会太难</p>
								<p>不过还是要<strong>好好准备考研！</strong></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-sm-5">
							<div class="box-content">
								<h3 class="widget-title">我的工作室</h3>
								<div class="project-item">
									<img src="images/7.jpg" alt="">
									<div class="project-hover">
										<h4>暂无</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="box-content">
								<h3 class="widget-title">我的学业水平</h3>
								<ul class="progess-bars">
									<li>
										<span>学业完成度 80%</span>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
										</div>
									</li>
									<li>
										<span>Java开发比重 75%</span>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
										</div>
									</li>
									<li>
										<span>Swift开发比重 15%</span>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
										</div>
									</li>
									<li>
										<span>C++开发比重 10%</span>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 10%;"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="menu-3" class="content gallery-section">
					<div class="box-content">
						<h3 class="widget-title">个人相册</h3>
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/1.jpg" alt="">
									<div class="project-hover">
										<h4>Great Nature Capture</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/2.jpg" alt="">
									<div class="project-hover">
										<h4>Another Image Caption</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/3.jpg" alt="">
									<div class="project-hover">
										<h4>Great Nature Capture</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/4.jpg" alt="">
									<div class="project-hover">
										<h4>Another Image Caption</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/5.jpg" alt="">
									<div class="project-hover">
										<h4>Great Nature Capture</h4>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="project-item">
									<img src="images/6.jpg" alt="">
									<div class="project-hover">
										<h4>Another Image Caption</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="project-pages">
							<ul>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div id="menu-4" class="content contact-section">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<div class="box-content">
								<h3 class="widget-title">给点建议</h3>
								<form class="contact-form">
									<fieldset>
										<input type="text" class="name" id="name" placeholder="昵称">
									</fieldset> 
									<fieldset>
										<input type="email" class="email" id="email" placeholder="邮箱">
									</fieldset> 
									<fieldset>
										<input type="text" class="subject" id="subject" placeholder="主题">
									</fieldset>
									<fieldset>
										<textarea id="message" cols="30" rows="4" placeholder="摘要"></textarea>
									</fieldset>
									<fieldset>
										<input onclick="SendEmail()" type="button" class="button" id="button" value="发送">
									</fieldset>
								</form>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="box-content">
								<h3 class="widget-title">您好</h3>
								<p>首先欢迎您访问此网站</p>
								<p>您有什么意见可以在此提出来</p>
								<p>您的宝贵意见将通过邮箱发送给我</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="col-md-3 hidden-sm">
			
			<nav id="nav" class="main-navigation hidden-xs hidden-sm">
				<ul class="main-menu">
					<li>
						<a class="show-1 active homebutton" href="#"><i class="fa fa-home"></i>网站主页</a>
					</li>
					<li>
						<a class="show-2 aboutbutton" href="#"><i class="fa fa-user"></i>基本信息</a>
					</li>
					<li>
						<a class="show-3 projectbutton" href="#"><i class="fa fa-camera"></i>个人相册</a>
					</li>
					<li>
						<a class="show-5 contactbutton" href="#"><i class="fa fa-envelope"></i>给点建议</a>
					</li>
				</ul>
			</nav>

		</div>
	</div>
</div>

<div class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright &copy; 2019 Duo.yao personal website | <a href="http://hn.beian.miit.gov.cn/state/outPortal/loginPortal.action">湘ICP备20001212号</a></p>
			</div>
		</div>
	</div>
</div>
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/users.js"></script>
</body>
</html>